* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Cuerpo de los html */
body {
    max-width: 100vw;
    min-height: 100vh;
}
/* Foto de fondo index */
.img {
    background-image: url(../img/1124772.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

/* Letra Titulo index */
.index {
    color: red;
    text-align: center;
}
/* Parrafo index */
.parrafo {
    color: rgb(65, 19, 19);
    background-color: rgb(150, 192, 183, 15%);
    text-align: center;
}
/* Parrafo demas paginas */
.contenedor {
    margin: 2rem;
    color: black;
    display: flex;
    justify-content: center;
}

/* Imagen Digimon de fondo */
.digimon {
    background-image: url(../img/Fondo\ Digimon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black
}
/* Titulo y parrafo Digimon */
.titulo {
    color: #eff6e0;
    background-color: rgb(21, 30, 63, 45%);
    text-align: center;
}
/* Direcciones Index */
.centrar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* Fotos Digimon */
.fotos {
    width: 250px;
    height: 250px;
}

.fotosindex {
    width: 250px;
    height: 250px;
    gap: end;

}
/* esqueleto grid digimon */
.paginadigimon {
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: minmax(200px, auto);
    grid-template-rows: minmax(200px, auto);
    justify-items: right;
    grid-template-areas:
    "digiizquierda1 digiizquierda1 "
    "digiderecha1 digiderecha1"
    "digiizquierda2 digiizquierda2 "
    "digiderecha2 digiderecha2"
    ;
}
/* imagenes izquierda digimon */
.digiizquierda1 {
    margin: 2rem;
    color: white;
    background-color: rgb(21, 30, 63, 65%);
    display: flex;
    align-items: center;
    justify-content: left;
    grid-area: digiizquierda1;
    text-align: left;
}
/* imagenes derecha digimon */
.digiderecha1 {
    margin: 2rem;
    color: white;
    background-color: rgb(21, 30, 63, 65%);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: digiderecha1;
}
/* imagenes izquierda digimon */
.digiizquierda2 {
    margin: 2rem;
    color: white;
    background-color: rgb(21, 30, 63, 65%);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: digiizquierda2;
}
/* imagenes derecha digimon */
.digiderecha2 {
    margin: 2rem;
    color: white;
    background-color: rgb(21, 30, 63, 65%);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: digiderecha2;
}
/* fondo registro y inicio */
.registro {
    background: black;
    background-image: url(../img/fondops.jpg);
}
